<html>
<title>{%block title%}{%endblock%}</title>
<head>
{%block head%}
<link href="{{url_for('static',filename='css/semantic.min.css')}}", rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='css/semantic.css')}}", rel="stylesheet" type="text/css">
<script src="{{url_for('static',filename='js/semantic.js')}}"></script>
<script src="{{url_for('static', filename='js/semantic.min.js')}}"></script>
{%endblock%}
</head>
<body>
{%block body%}
<!--Navbar code-->
<div id="wrapper">
<div id="header">
<div style="background: #1B1C1D ;" class="ui large inverted menu">
  <a class="active item" href='/'><h3>Suyash Garg (@ferbncode)</h3></a>
  <a class="item" href='/projects'>Projects</a>
  <a class="item" href='/career'>Career</a>
  <a class="item" href='/blog'>Blog</a>
  <a class="item" href='/aboutme'>About me</a>
  <a class="item" href='/contact'>Contact me</a>
</div>

<!--end of navbar div. Beginning of grid structure-->
<div id="content">
<div style="position:relative;top:100px">
<div class="ui internally grid">
  <div class="row">
    <div class="one wide column">
      <img>
    </div>
    <div class="fourteen wide column">
      <div>{%block priordiv%}{%endblock%}</div>
    </div>
    <div class="one wide column">
      <img>
    </div>
  </div>
  <div class="row">
    <div class="one wide column">
      <img>
    </div>
    <div class="fourteen wide column">
      <div>{%block maindiv%}{%endblock%}</div>
    </div>
    <div class="one wide column">
      <img>
    </div>
  </div>
</div>
</div>
</div>
<br/>
    <br/>
    <br/>
    <br/>
    <pr/>
    <br/>
    <br/>
    <br/>
    <br/>

<!--footer-->
<div id="footer">
<div class="ui inverted segment">
  <div class="ui inverted secondary menu">
    <div class="ui red three item inverted menu">
	  <div class="item">
	  	<p>
	    <strong><font size="3.5"><i>This site: </i></font></strong><br/> <br/>Powered by Flask<br \>
	    Credits: Semantic UI, jquery<br/>Find Website Code <a href="https://github.com/ferbncode/suyashgarg.heroku.com">Here</a></p>
	  </div>
  <div class="item">
  <div class="ui icon inverted menu">
  <a class="item" href="">
    <i class="google plus square large icon"></i>
  </a>
  <a class="item" href="https://www.facebook.com/profile.php?id=100004815735036">
   <i class="facebook square large icon"></i>
  </a>
  <a class="item" href="https://in.linkedin.com/in/suyash-garg-43b99ab1">
    <i class="linkedin square large icon"></i>
  </a>
  <a class="item" href="https://github.com/ferbncode">
    <i class="github square large icon"></i>
  </a>
  <a class="item" href="https://twitter.com/ferbncode">
    <i class="twitter square large icon"></i>
  </a>
 </div>
  <!--a class="item">
  	<img src="{{url_for('static', filename='images/kaggle.png')}}", style="border-radius:5px;" height="15px" >
  </a-->
</div>
<div class="item">
	  	<div class="ui  search">
  		<div class="ui icon input">
    		<input class="prompt" placeholder="Search site..." type="text">
    	<i class="search icon"></i>
  		</div>
  		<div class="results"></div>
	</div>
    
  </div>

  </div>
</div>
<!--footer End-->
</div>
</div>
{%endblock%}
</body>

