<html>
<title>{%block title%}{%endblock%}</title>
<head>
{%block head%}
<link href="{{url_for('static',filename='css/semantic.min.css')}}", rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='css/semantic.css')}}", rel="stylesheet" type="text/css">
<script src="{{url_for('static',filename='js/semantic.js')}}"></script>
<script src="{{url_for('static', filename='js/semantic.min.js')}}"></script>
{%endblock%}
</head>
<body>
{%block body%}
<!--Navbar code-->
<div id="wrapper">
<!--end of navbar div. Beginning of grid structure-->
<div id="content">
<div style="position:relative;top:40px">
<div class="ui internally grid">
  <div class="row">
  <div class="two wide column"></div>
    <div class="three wide column">
    <div class="ui" >
    <img class="ui image" style="border-radius: 50%;max-height:150px" src="{{url_for('static', filename='images/suyash23.jpg')}}">
  <div class="content">
  <br/>
    <a class="header" href="/"><font color="#000"><h2>Suyash Garg</h2></font></a>
    <p>@ferbncode</p>
    <a href='/'>Home</a><br/>
    <a href='/blog'>Blog</a><br/>
    <a href='/projects'>Projects</a><br/>
    <a href='/career'>Career</a><br/><br/>

<button class="ui primary small button" onclick="location.href='https://twitter.com/ferbncode'">
<i class="twitter icon"></i>
  Follow @ferbncode
</button><br/><br/>

<button class="ui circular facebook icon button" onclick="location.href='https://www.facebook.com/profile.php?id=100004815735036'">
  <i class="facebook icon"></i>
</button>
<button class="ui circular github icon button" onclick="location.href='https://github.com/ferbncode'">
  <i class="github icon"></i>
</button>
<button class="ui circular linkedin icon button" onclick="location.href='https://in.linkedin.com/in/suyash-garg-43b99ab1'">
  <i class="linkedin icon"></i>
</button>
<button class="ui circular google plus icon button">
  <i class="google plus icon"></i>
</button>


  </div>
</div>
    </div>
    <div class="ten wide column">
      <div>{%block maindiv%}{%endblock%}</div>
    </div>
    <div class="two wide column">
      <img>
    </div>
  </div>
</div>
</div>
</div>
<br/>
    <br/>
    <br/>
    <br/>
    <pr/>
    <br/>
    <br/>

<!--footer-->
<div id="footer">
<div class="ui inverted segment">
  <div class="ui inverted secondary menu">
    <div class="ui red three item inverted menu">
	  <div class="item">
	  	<p>
	    <strong><font size="3.5"><i>This site: </i></font></strong><br/> <br/>Powered by Flask<br \>
	    Credits: Semantic UI, jquery<br/>Find Website Code <a href="https://github.com/ferbncode/suyashgarg.heroku.com">Here</a></p>
	  </div>
  <div class="item">
  <div class="ui icon inverted menu">
  <a class="item" href="">
    <i class="google plus square large icon"></i>
  </a>
  <a class="item" href="https://www.facebook.com/profile.php?id=100004815735036">
   <i class="facebook square large icon"></i>
  </a>
  <a class="item" href="https://in.linkedin.com/in/suyash-garg-43b99ab1">
    <i class="linkedin square large icon"></i>
  </a>
  <a class="item" href="https://github.com/ferbncode">
    <i class="github square large icon"></i>
  </a>
  <a class="item" href="https://twitter.com/ferbncode">
    <i class="twitter square large icon"></i>
  </a>
 </div>
  <!--a class="item">
  	<img src="{{url_for('static', filename='images/kaggle.png')}}", style="border-radius:5px;" height="15px" >
  </a-->
</div>
<div class="item">
	  	<div class="ui  search">
  		<div class="ui icon input">
    		<input class="prompt" placeholder="Search site..." type="text">
    	<i class="search icon"></i>
  		</div>
  		<div class="results"></div>
	</div>
    
  </div>

  </div>
</div>
<!--footer End-->
</div>
</div>
{%endblock%}
</body>

