{% extends 'base.html' %}
{%block title%}
Suyash Garg | Home
{%endblock%}
{%block head%}
{{super()}}
{%endblock%}
{%block body%}
{{super()}}
{%endblock%}


{%block maindiv%}
<div>
<div class="row">
<div class="">
<p><font size="5">Hello!</font><br/><br/>
<font>I am Suyash Garg, a third year computer science undergrad at National Institute of Technology, Hamirpur (India). I am highly enthusiastic about fields like machine learning, artificial intelligence and algorithm design. The world of computers is vast and each of the corners draw my attention. I am also zealous about team work and creating apps or things that can benifit daily activities. </p>
<p>I am hugely fascinated by the world of open source software and love to contribute in many projects. Recently, i have started to explore machine learning algorithms and have taken a couple of MOOCs to encourage my learning. I strive to learn new things everyday.</p>
<p>I am a melophile and an avid reader. Also, i love to blog about my explorations and interests. I like travelling to new places and meeting new people too.</p></font>
<h3><u>Projects</u></h3>
<p><font>Find more about my projects (code and explainations) <a href='/projects'>here</a>.</font></p> 
<font><ul>
  <li>AutoDrive - Autonomous Driving with the raspberry pi. (in progress)</li>
  <li>SentiKart - Sentimental Analysis of product reviews.</li>
  <li>GenreM - Music Genre Classifier</li>
</ul></font>
<h3><u>Contact</u></h3>
<font>
Contact me on:
  <ul>
    <li>IRC nickname: ferbncode</li>
    <li>Email: suyashgargsfam@gmail.com, suyashgarg910@gmail.com
    <li>Twitter Handle: ferbncode</li>
    <li>LinkedIn: https://in.linkedin.com/in/suyash-garg-43b99ab1</li>
  </ul></font>
<h3><u>Blog</u></h3>
<font>
  I use wordpress for my <a href='suyashgarg.wordpress.com'>blog</a>. I blog about my experiences and everything i learn. Learning is great if it is collaborative and interactive. I will soon be shifting the blog to this site (as soon as i complete writing the backend).
</font><br/>
<h3><u>Find my work</u></h3>
	<ul>
	<font style="color:#000">
	<li><a href="https://github.com/ferbncode">Github</a></li>
	<li><a href="https://kaggle.com/ferbncode">Kaggle</a></li>
	<li><a href="https://spoj.com/users/ferbncode">Spoj</a></li>
	<li><a href='/projects'>Projects</a></li>
	</font></ul>
<h3><u>Independent Coursework</u></h3>
<ul>
	<li>Udacity Machine Learning Nanodegree(nd009)</li>
	<li>Coursera Machine Learning</li>
   		</div>
    </div>
	</div>
</div>
</div>
    

{%endblock%}

<style type="text/css">
  .p{
    font-size: 3px;
  }
</style>
