{% extends 'base.html' %}
{%block head%}
{{super()}}
{%endblock%}
{%block body%}
{{super()}}
{%endblock%}


{%block maindiv%}
<div class="ui grid">
<div class="row">
<div class="">
<p><font size="5">Hello!</font><br/><br/>
<font size="3">I am Suyash Garg, a third year computer science undergrad at National Institute of Technology, Hamirpur (India). I am highly enthusiastic about fields like machine learning, artificial intelligence and algorithm design. The world of computers is vast and each of the corners draw my attention. I am also zealous about team work and creating apps or things that can benifit daily activities. <br/><br/></font></p>
<p><font size="3">Some quotes that influence me and help me a lot are:<br/></font></p>
		<div class="ui quotes"><p>You have to dream before your dreams can come true.<br/>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;-APJ Abdul Kalam.</p></div>
		<div class="ui quotes">The same things that float your boat can capsize it.<br/>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;-My T-shirt.<br/></div>
		<div class="ui quotes">If you fall, i will be there. So, don't be afraid to fail.<br/>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;-The Floor</div><br/>
<div class="ui grid">
  <div class="three column row">
  <div class="column">
  	<div class="ui card">
  	<div class="content">
  	<div class="header" align="center"><a href='/aboutme'>About me</a></div>
    <div align="center"><i class="dashboard massive icon" style="color:#5dade2"></i></div>
    <p align="center">Know more about me</p>
    </div>
    </div>
   </div>
    <div class="column">
    	<div class="ui card">
  		<div class="content">
	  	<div class="header" align="center"><a href='/code'>Code</a></div>
	    <div align="center"><i class="code massive icon" style="color:#F39C12"></i></div>
	    <p align="center">Find my work samples</p>
	    </div>
	    </div>
	</div>
    <div class="column">
    	<div class="ui card">
  		<div class="content">
  		<div class="header" align="center"><a href='/contact'>Contact</a></div>
   		<div align="center"><i class="comments massive icon" style="color:#ec7063"></i></div>
   		<p align="center">Contact me</p>
    	</div>
   		</div>
    </div>
  </div>
</div>
</div>
</div>
    

{%endblock%}


