{% extends 'base.html' %}
{%block head%}
{{super()}}
{%endblock%}
{%block body%}
{{super()}}
{%endblock%}
{%block maindiv%}
<p><font size="6">{{project_detail['subject']}}</font></p>
{{project_detail['date']}}
<hr>
<br/>

<h2>What is Sentikart?</h2>

Sentikart is a hack that facilitates the world of online shopping. It is the outcome of our (Team Member: <a href="http://github.com/clearnote01">Utkarsh Raj</a>) 7-day effort for the IndiaHacks-2016 Online Commerce Track. It won the 7th place in the nation and brought us good new Raspberry Pi to learn more things with. Sentikart scrapes the comments out of e-Commerce sites like FlipKart and runs a sentimental analysis algorithm on them to present the user a summary of the reviews. Not just a simple sentimental analysis. The algorithm manages to categorizes the comments into categories of the product and rates it in all those aspects. Other than that, it has a Q/A portal, a small service section. Here are a few screenshots from the webapp. Find the source code <a href="http://github.com/ferbncode/SentiKart">here</a>.
<br/><br/>
<div class="ui large images" align="center">
  <img src="{{url_for('static', filename='images/img1.png')}}">
  <img src="{{url_for('static', filename='images/img6.png')}}">
  <img src="{{url_for('static', filename='images/img3.png')}}">
  <img src="{{url_for('static', filename='images/img8.png')}}">
</div>
{%endblock%}
